[Match]
Name=enp1s0

[Network]
# LAN interface - static IP with DHCP server for local network
Address=10.1.1.1/24
DHCPServer=yes
IPForward=yes

[DHCPServer]
# Distribute IPs in 10.1.1.0/24 subnet
PoolOffset=100
PoolSize=100
DNS=10.50.250.1 10.83.252.11
DefaultLeaseTimeSec=3600
MaxLeaseTimeSec=7200
EmitDNS=yes
EmitRouter=yes
